* {
  padding: 0px;
  margin: 0px;
  font-family: "Karla";
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.name {
  width: 245px;
}

.query {
  width: 245px;
}

#email {
  width: 500px;
}
#checker {
  margin-right: 160px;
}
.full-name {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

input {
  border-radius: 5px;
}

#checker {
  display: flex;
  gap: 10px;
}

button {
  border-radius: 5px;
  width: 500px;
}

#message {
  width: 500px;
}
